* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
}

html {
    background-image: linear-gradient(120deg,#00283c 14%,#00111b 71%)!important;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', serif;
}

h1 {
    font-size: 2em;
    font-weight: 500;
}

h2 {
    font-size: 1.75em;
    color: #bf8996;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

img {
    max-width: 100%;
}

